@charset "UTF-8";
:root {
	--neutral-700: #13293d;
	--neutral-500: #1c3e5c;
	--neutral-400: #006494;
	--blue-200: #1b98e0;
	--blue-100: #3ea9e7;
	--neutral-300: #edd2cb;
	--neutral-200: #f1e8e6;
}

canvas {
	margin: 0;
}
.stopScroll {
	height: 100%;
	overflow: hidden;
}
.relative-container {
	position: relative;
	width: 100%;
	height: auto;
	border-radius: 5px;
}
.canvas-button {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 54%;
	width: 15%;
	min-width: 250px;
	max-height: 75px;
	aspect-ratio: 2/1;
	text-align: center;
	background-color: var(--blue-200);
	color: var(--neutral-200);
	font-size: 1rem;
}
.Menu {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
}
h1 {
	font-size: 2.75rem;
	position: absolute;
	top: 26%;
	text-align: center;
	margin-left: 0;
	width: 100%;
	color: var(--neutral-200);
}
.pill-button {
	border: none;

	border-radius: 500px;
}
.container {
	background-color: transparent;
}
body {
	background-color: #f4f4f4;
	color: var(--neutral-700);
	margin: 0;
	width: 100%;
	position: absolute;
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;

	/* Add a custom scroll bar style */
	overflow: overlay; /* This is experimental and not supported in all browsers */
	scroll-behavior: smooth; /* Optional, adds smooth scrolling behavior */
}
body::-webkit-scrollbar {
	width: 1px; /* Adjust the width to your preference */
}

body::-webkit-scrollbar-thumb {
	background-color: transparent; /* Set to the background color to make it invisible */
}

/* Define the custom scrollbar appearance (Webkit) */
body::-webkit-scrollbar-track {
	background: transparent; /* Set to the background color to make it invisible */
}

/* Define the custom scrollbar appearance (Webkit) */
body::-webkit-scrollbar-thumb {
	background: transparent; /* Set to the background color to make it invisible */
}
canvas {
	background-color: var(--neutral-500);
	border-radius: 0 0 10px 10px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 0.5%;
	margin-left: auto;
	margin-right: auto;

	max-width: 700px;
	width: 100%;
	height: 65px;
	border-radius: 0px 0px 10px 10px;
	background-color: var(--neutral-200);
	padding: 0;
}
.menu-button {
	background-color: var(--neutral-200);
	height: 100%;
	width: 100%;
	border: none;
	font-size: 1.5rem;
	color: var(--blue-200);
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
}
.menu-button:hover {
	color: var(--blue-100) !important;
	transition: 0.5s;
	cursor: pointer;
}
.center {
	margin-top: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1fr;
	height: 1fr;
}
h2 {
	color: var(--blue-200);
	margin: 0 auto;
	text-decoration: underline;
	text-underline-offset: 10px;
	padding-bottom: 20px;
}
.section-Container {
	background-color: white;
	margin: auto auto;
	width: 100%;
	text-align: center;
	padding: 5px;
	margin-top: 20px;
}
.section-sub-Container h3 {
	text-align: left;
	margin-left: 0;
	color: #5a5a5a;
}
.section-sub-Container p {
	color: #858585;
	text-align: left;
	margin-top: -0.5rem;
}

@media only screen and (min-width: 1200px) {
	.align-p-right {
		transform: translate(0, -2rem);
		text-align: end !important;
		margin: 0;
	}
}
.section-sub-Container {
	border: 2px solid #f4f4f4;
	background-color: white;
	filter: drop-shadow(5px 7px 3px rgba(0, 0, 0, 0.507));
	width: 30%;
	padding: 1em;
	min-width: 300px;
	margin: 0 auto;
	height: auto;
	margin-bottom: 20px;
}
.first {
	margin-top: 20px;
}
.last {
	margin-bottom: 100px !important;
}

.skills-grid {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	gap: 5px;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
}
.skill-button {
	color: var(--blue-200);
	height: 40px;
	border-radius: 5px;
	border: none;
	font-size: 1.1rem;
	background-color: white;
}
.about-p {
	width: 100%;
	text-align: center;
}
.ProfileImage {
	width: 100%;
	max-width: 250px;
	border-radius: 800px;
}
.grid-About {
	display: grid;
	width: 60%;
	min-width: 375px;
	margin: 0 auto;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	justify-items: center;
}
.skill-button:hover {
	background-color: rgb(185, 185, 185);
	transition: 0.5s;
}
#footer {
	height: 50px;
	width: 100%;
	background: transparent;
}
.card {
	position: absolute;
	aspect-ratio: 5/7;
	width: 30vmin;
	color: black;
	border-radius: 5px;
	transition: transform 300ms cubic-bezier(0.25, 0.76, 0.75, 0.93);
	background-color: #f4f4f4;
	border: 1px solid #a5a5a5;
	filter: drop-shadow(5px 7px 3px rgba(0, 0, 0, 0.507));
}
.card-Group {
	position: absolute;
	aspect-ratio: 5/7;
	width: 30vmin;
	margin-bottom: 10px;
	transform: translate(-50%);
	transition: transform 400ms ease;
}
.card:nth-child(1) {
	transform: translateX(-8%) rotate(-1deg);
}
.card:nth-child(2) {
	transform: translateX(7%) rotate(3deg);
}
.card-Group:hover > .card:nth-child(1) {
	transform: translateX(-105%);
}
.card-Group:hover > .card:nth-child(2) {
	transform: translateX(105%);
}
.card-Group[data-Status="maximized"] > .card:nth-child(1) {
	transform: translateX(-105%);
}
.card-Group[data-Status="maximized"] > .card:nth-child(2) {
	transform: translateX(105%);
}
.projects-grid {
	place-items: center;
	height: 45vmin;
	max-width: 0%;
	margin: 0 auto;
}
.project-Nav-Button {
	border-radius: 800px;
	border: none;
	aspect-ratio: 1/1;
	width: 66px;
	background-color: transparent;
	color: var(--blue-200);
	cursor: pointer;
}
.card-Group[data-status="active"] {
	transition-delay: 200ms;
}
.card-Group[data-status="unknown"] {
	display: none;
}
.card-Group[data-status="after"] {
	transform: translateX(50%) scale(0);
}
.card-Group[data-status="before"] {
	transform: translateX(-175%) scale(0);
}
.card-Group[data-status="activatingLeft"] {
	transform: translateX(-175%) scale(0);
	transition: none;
}
.card-Group[data-status="activatingRight"] {
	transform: translateX(50%) scale(0);
	transition: none;
}
.card-Group[data-Status="maximized"] {
	transition: transform 400ms ease;
	transform: translateX(-50%) translateY(-75%) scale(1.3);
	z-index: 100;
}
.card-Group[data-Status="maximized"]::after {
	content: "";
	position: fixed;
	overflow: scroll;
	inset: 0;
	transition: none;
	left: -50vw;
	top: -50vw;
	width: 200vw;
	height: 200vw;
	z-index: -1;
	opacity: 1;
	background: rgba(40, 40, 40, 0.75);
	scroll-behavior: disable;
}
.card > h3 {
	color: var(--blue-200);
}

[aria-hidden="true"] {
	transition: opacity 1s, z-index 0s 1s;
	width: 100vw;
	z-index: -1;
	opacity: 0;
}

[aria-hidden="false"] {
	transition: opacity 1s;
	width: 100%;
	z-index: 1;
	opacity: 1;
}
svg {
	position: absolute;
	right: 10px;
	top: 5px;
	height: 20px;
}
:focus {
	outline: 2px yellowgreen solid;
}
