@charset "UTF-8";
:root {
	--neutral-700: #13293d;
	--neutral-500: #1c3e5c;
	--neutral-400: #006494;
	--blue-200: #1b98e0;
	--blue-100: #3ea9e7;
	--neutral-300: #edd2cb;
	--neutral-200: #f1e8e6;
}
canvas {
	margin: 0;
}
.relative-container {
	position: relative;
	width: 100%;
	height: 66%;
}
.canvas-button {
	position: absolute;
	left: 50%;
	margin-left: -7.5%;
	top: 54%;
	width: 15%;
	max-height: 75px;
	aspect-ratio: 2/1;
	background-color: var(--blue-200);
	color: var(--neutral-200);
	font-size: 1rem;
}
h1 {
	position: absolute;
	top: 26%;
	text-align: center;
	margin-left: 0;
	width: 100%;
	color: var(--neutral-200);
}
.pill-button {
	border: none;

	border-radius: 500px;
}
.container {
	background-color: var(--neutral-500);
}
body {
	background-color: var(--neutral-200);
	color: var(--neutral-700);
	height: 100%;
	margin: 0;
}
canvas {
	background-color: var(--neutral-500);
}
.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.5%;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	width: 1fr;
	height: 1fr;
	border-radius: 0px 0px 10px 10px;
	background-color: var(--neutral-200);
	padding: 10px;
}
a,
a:link,
a:visited {
	background-color: var(--neutral-200);
	padding: 14px 25px;
	color: var(--blue-200);
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
}
a:hover {
	color: var(--blue-100) !important;
	transition: 0.5s;
}
.center {
	margin-top: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1fr;
	height: 1fr;
	background: var(--neutral-200);
}
.yeet {
	background-color: #006494;
}
